.starProduct {
    display: flex;
    margin-top: 40px;
}

.star_product_left {
    width: 50%;
    padding-left: 60px;
}

.star_product_left img {
    transition: all ease-in-out 0.2s;
}

.star_product_left:hover img {
    box-shadow: 5px 5px 20px rgb(165, 163, 163);
}

.star_product_right {
    width: 50%;
}

.starProduct_image1,
.starProduct_image2,
.starProduct_image3 {
    margin: 0px 5px 5px 5px;
    transition: all ease-in-out 0.2s;
}

.starProduct_image1:hover,
.starProduct_image2:hover,
.starProduct_image3:hover {
    box-shadow: 5px 5px 20px rgb(151, 149, 149);
}