.Videos{
    text-align: center;
    display: flex;
    margin:0px 0px 50px 30px;
}

.video_card{
    width: 30vmax;
    height: 40vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px 0px 0px 15px;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.video_card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 20px gray;
}
